* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

@media (max-width: 1000px) {
    html {
        font-size: 50%;
    }
}
@media (max-width: 500px) {
    html {
        font-size: 40%;
    }
}

body {
    background-color: rgb(199, 130, 81);
    font-family: cursive;
    color: #fff;
} 

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 800px) {
    .container {
        height: auto;
    }
}

.side {
    flex: 0 0 50%;
    height: 95%;
    border-radius: 20px;
}

.right {
    border-left: 1px solid rgb(235, 104, 10);
    padding: 20px;
    position: relative;
    
}

.left {
    border-right: 1px solid rgb(235, 104, 10);   
    padding: 20px;
}
@media (max-width: 800px) {
    .side {
        flex: 0 0 90%;
    }
    .right {
        border-left: none;
    }
    .left {
        border-right: none;
    }
}
@media (max-width: 500px){
    .left {
        padding: 5px;
    }
    .right {
        padding: 5px;
    }
}

.left__head {
    color: #fff;
    font-family: cursive;
    width: 80%;
    padding: 15px 20px;
    background: rgb(235, 104, 10);
    border-bottom: 10px solid rgb(181, 79, 6);
    border-right: 10px solid rgb(181, 79, 6);
    margin-bottom: 20px;
}

@media (max-width: 950px) {
    .left__head {
        width: 95%;
    }
}
@media (max-width: 500px) {
    .left__head {
        width: 100%;
    }
}

.skill-header {
    background: rgb(235, 104, 10);
    border-bottom: 10px solid rgb(181, 79, 6);
    border-right: 10px solid rgb(181, 79, 6);
    width: 30%;
    padding: 5px 10px;
    margin-top: 20px;
}

.education-header {
    background: rgb(235, 104, 10);
    border-bottom: 10px solid rgb(181, 79, 6);
    border-right: 10px solid rgb(181, 79, 6);
    width: 30%;
    margin-bottom: 10px;
}
.experience-header {
    background: rgb(235, 104, 10);
    border-bottom: 10px solid rgb(181, 79, 6);
    border-right: 10px solid rgb(181, 79, 6);
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-header {
    background: rgb(235, 104, 10);
    border-bottom: 10px solid rgb(181, 79, 6);
    border-right: 10px solid rgb(181, 79, 6);
    width: 40%;
    padding: 5px 10px;
    margin-bottom: 10px;  
}

.project-desc {
    font-size: 12px;
}

.right h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.right a {
    display: block;
    color: wheat;
    margin: 10px 0;
    font-size: 12px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
    padding: 10px 0;
}

.skills p {
    font-size: 15px;
    flex: 30%;
    margin-bottom: 10px;
}

.bio {
    margin-top: 10px;
    font-size: 15px;
}

.bio a {
color: wheat;
}

.bio__tag {
    font-weight: bold;
}
.left__head h1 {
    font-size: 25px;
    margin-bottom: 10px;
}
.left__head h2 {
    font-size: 20px;
}

.about {
    margin-top: 30px;
    font-size: 17px;
}


.logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 300px;
    /* height: 30px; */
}

@media (max-width: 700px) {
    .logo {
        width: 200px;
        right: 2px;
    }
}
@media (max-width: 500px) {
    .logo {
        width: 150px;
    }
}

.zuri-link {
    font-size: 10px;
    color: white;
    display: block;
}